/*init */

body {
    background: #fff;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 0;
    outline: none;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: Helvetica, Georgia, 'Hiragino Sans GB', Arial, 'Microsoft YaHei', "微软雅黑", STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
    outline: none;
}

@media screen and (max-width: 768px) {
    .content-wrap {
        position: relative;
        -webkit-transition: all 0.25s eae-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width: calc(100% + 240px);
    }
    .content-wrap-left {
        left: -240px;
    }
    .content-wrap-left.on {
        left: 0px;
    }
    .content-sidebar {
        position: absolute;
        top: 0;
    }
}
/* navigation */

.navigation {
    position: relative;
    z-index: 1;
    border-radius: 0;
    background-color: #fff;
    margin-bottom: 0;
}

#admin-dropdown {
    cursor: pointer;
    width: 36px;
    height: 36px;
    color: #777;
    text-align: center;
    margin: 7px 46px 7px 0px;
    font-size: 16px;
    line-height: 35px;
    border-radius: 20px;
}

#admin-dropdown input {
    display: none;
}

#admin-dropdown label {
    width: 60px;
    height: 50px;
    display: block;
    padding: 10px 0px;
    margin: 0;
    cursor: pointer;
}

#admin-dropdown label,
#admin-dropdown .fa {
    line-height: 30px;
}

#admin-dropdown span {
    font-size: 14px;
}

#admin-dropdown {
    text-align: center;
    border: 1px solid #EBEBEB;
}

ul.user {}
/*ul.user > li { float: left; margin: 0px 5px 0px 10px;  }*/

#clock {
    font-size: 25px;
}

ul.user > li .bell-right {
    margin-right: 70px;
}

ul.user li i {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

ul.user li i.fa-bell {
    font-size: 22px;
}

ul.user li > .dropdown-toggle {
    position: relative;
}

ul.user li .badge {
    position: absolute;
    top: 8px;
    right: 17px;
    border-radius: 2px;
    background-color: #2196f3;
}

ul.user li.open .fa-angle-down {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

ul.user .img-circle {
    border-radius: 55%;
    border: 2px solid #777;
    width: 25px;
    height: 25px;
}

ul.dropdown-menu > li > a {
    color: #777;
}

ul.dropdown-menu > li:hover {
    background-color: #f8f8f8;
}

ul.dropdown-menu > li > a .fa {
    margin-right: 5px;
}

.navbar-brand.title {
    position: relative;
    color: #777 !important;
    margin-left: 10px;
    font-size: 16px;
}

.navbar-brand.title img {
    position: absolute;
    top: 50%;
    left: -50px;
    margin-top: -10px;
}

@media screen and (min-width: 768px) {
    .navbar-brand.title {
        position: relative;
        color: #777 !important;
        margin-left: 50px;
        font-size: 16px;
        line-height: 24px;
    }
    .navbar-brand.title img {
        position: absolute;
        top: 50%;
        left: -20px;
        margin-top: -10px;
    }
}

.navbar-header {
    /*display: none;*/
}
/* home page tabs-news */

#tabs-content .tabs-content-list {
    display: none;
}

#tabs-content .tabs-content-list .new {
    height: 40px;
    position: relative;
    padding: 5px;
    line-height: 30px;
}

#tabs-content .tabs-content-list .new a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

#tabs-content .tabs-content-list .new label {
    float: right;
}

#tabs-content .tabs-content-list.active {
    display: block;
}
/* table wrapper */

.box {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.1);
}

.box .box-inner {
    border: 1px solid #fff;
    border-radius: 10px;
}

.box .box-header {
    padding-left: 10px;
    height: 44px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 10px 10px 0px 0px;
}

.box .box-header h5 {
    display: block;
    position: relative;
    line-height: 40px;
}

.box .box-header h5 i {
    margin-right: 5px;
}

.box .box-header .box-icon {
    float: right;
    line-height: 35px;
}

.box .box-header .box-icon i {
    margin: 0px 15px 0px 0px;
}

.box .box-content {
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.box .box-content ul.owner-list {
    margin: 0;
    overflow: hidden;
    padding-left: 10px;
}

.box .box-content ul.owner-list .owner-avatar {
    border-radius: 50%;
    border: 1px solid #EBEBEB;
    width: 50px;
    height: 50px;
}

.box .box-content ul.owner-list img {
    float: left;
}

.box .box-content ul.owner-list li {
    overflow: hidden;
    padding: 7px 0;
    list-style: none;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #fff;
}

.box .box-content ul.owner-list .owner-info {
    float: left;
    margin-left: 20px;
}

.box .box-content .box-block {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.box .box-content .title-block {
    width: 100%;
    margin-left: 10px;
}

.box .box-content .content-block {
    overflow: hidden;
}

@media screen and (min-width:768px) {

    .box .box-content .content-block {
        /*padding-left: 40px;*/
        
        overflow: hidden;
        padding: 5px 5px 5px 40px;
    }

}

.box .box-content .foot-block {
    width: 100%;
    margin-left: 40px;
    margin-top: 10px;
}

.box .box-content .foot-block > .form-group {
    margin-left: 15px;
}

.box .box-content button {
    position: relative;
}

.box .box-content > a {
    position: relative;
}
/* sidebar */

.content-wrap {
    overflow: hidden;
}

.content-sidebar {
    position: relative;
    margin-left: 0px;
    margin-right: 15px;
    padding-top: 10px;
    width: inherit;
    min-width: 220px;
    max-width: 220px;
    float: left;
}

.content-sidebar .sidebar-nav {
    padding-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
}

.content-sidebar .sidebar-nav li a {
    font-size: 13px;
    color: #777;
    text-align: center;
    border: 1px solid rgba(221, 221, 221, 0.46);
    border-radius: 4px;
}

.content-sidebar .sidebar-title {
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.content-sidebar .sidebar-menu li a > i {
    margin-right: 3px;
}

.content-body {
    position: relative;
    height: 100%;
    overflow: auto;
}

.open-sidebar {
    box-shadow: 0 0 1px #BDBDBD;
    cursor: pointer;
    margin: 10px 0px 0px 0px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 55%;
}

.content-wrap.on .open-sidebar {
    background-color: #dedede;
}

.content-wrap.on .open-sidebar i {
    color: #2196f3;
}

.open-sidebar i {
    font-size: 15px;
    color: #777;
}

.sidebar {
    width: 100%;
    margin-bottom: 20px;
    border-top-right-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-top-right-radius: 15px;
    -ms-border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    -webki-border-bottom-right-radius: 15px;
    -moz-border-bottom-right-radius: 15px;
    -ms-border-bottom-right-radius: 15px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.1);
    background: #FFF;
}

.sidebar .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    color: #777;
}

.sidebar a.link:hover {
    color: #777;
}

.sidebar li:last-child .link {
    border-bottom: 0;
}

.sidebar li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.sidebar li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.sidebar li.open .link {
    color: #2196f3;
}

.sidebar li.open i {
    color: #2196f3;
}

.sidebar li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sidebar li.open .submenu {
    display: block;
    /*visibility: visible;*/
    /*opacity: 1;*/
    
    -webki-animation: sidebar-show 0.5s linear 0s;
    animation: sidebar-show 0.5s linear 0s;
    -moz-animation: sidebar-show 0.5s linear 0s;
    -ms-animation: sidebar-show 0.5s linear 0s;
}

@keyframes sidebar-show {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
}

@-webikit-keyframes sidebar-show {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
}

@-moz-keyframes sidebar-show {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
}

@-ms-keyframes sidebar-show {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
}
/**
 * Submenu
 -----------------------------*/

.submenu {
    display: none;
    /*visibility: hidden;*/
    /*opacity: 0;*/
    
    background: #444359;
    font-size: 14px;
}

.submenu li {
    border-bottom: 1px solid #4b4a5e;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #2196f3;
    color: #FFF;
}

.submenu a.open {
    background: #2196f3;
    color: #FFF;
}
/* weather */

.weather-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.weather-card {
    margin: 20px 5px 20px 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    overflow: hidden;
    width: 270px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.1);
    -webkit-animation: appear 500ms ease-out forwards;
    animation: appear 500ms ease-out forwards;
}

.weather-card h2 {
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 70px;
    color: #B8B8B8;
    bottom: 30px;
    left: 35px;
    opacity: 0;
    -webkit-transform: translateX(150px);
    -ms-transform: translateX(150px);
    transform: translateX(150px);
    -webkit-animation: title-appear 500ms ease-out 500ms forwards;
    animation: title-appear 500ms ease-out 500ms forwards;
}

.weather-card p {
    position: absolute;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #d2d2d2;
    bottom: 0px;
    left: 35px;
    -webkit-animation: title-appear 1s ease-out 500ms forwards;
    animation: title-appear 1s ease-out 500ms forwards;
}

.weather-icon {
    position: relative;
    width: 50px;
    height: 50px;
    top: 0;
    float: right;
    margin: 30px 30px 0 0;
    -webkit-animation: weather-icon-move 5s ease-in-out infinite;
    animation: weather-icon-move 5s ease-in-out infinite;
}

.sun {
    background: #FFCD41;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 0, 0.1) 0 0 0 4px;
    -webkit-animation: light 800ms ease-in-out infinite alternate, weather-icon-move 5s ease-in-out infinite;
    animation: light 800ms ease-in-out infinite alternate, weather-icon-move 5s ease-in-out infinite;
}

@-webkit-keyframes light {
    from {
        box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 10px;
    }
    to {
        box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 17px;
    }
}

@keyframes light {
    from {
        box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 10px;
    }
    to {
        box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 17px;
    }
}

.cloud {
    margin-right: 60px;
    background: #e1e1e1;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    box-shadow: #e1e1e1 24px -6px 0 2px, #e1e1e1 10px 5px 0 5px, #e1e1e1 30px 5px 0 2px, #e1e1e1 11px -8px 0 -3px, #e1e1e1 25px 11px 0 -1px;
}

.cloud:after {
    content: "";
    position: absolute;
    border-radius: 10px;
    background-color: transparent;
    width: 4px;
    height: 12px;
    left: 0;
    top: 31px;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-animation: rain 800ms ease-in-out infinite alternate;
    animation: rain 800ms ease-in-out infinite alternate;
}

@-webkit-keyframes rain {
    from {
        box-shadow: #2092A9 8px 0px, #2092A9 32px -6px, #2092A9 20px 0px;
    }
    to {
        box-shadow: #2092A9 8px 6px, #2092A9 32px 0px, #2092A9 20px 6px;
    }
}

@keyframes rain {
    from {
        box-shadow: #2092A9 8px 0px, #2092A9 32px -6px, #2092A9 20px 0px;
    }
    to {
        box-shadow: #2092A9 8px 6px, #2092A9 32px 0px, #2092A9 20px 6px;
    }
}

@-webkit-keyframes weather-icon-move {
    50% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes weather-icon-move {
    50% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.inspiration {
    color: #aeaeae;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}

.inspiration a {
    color: #FA565F;
    font-weight: 400;
    -webkit-animation: all 300ms ease-in-out;
    animation: all 300ms ease-in-out;
}

@-webkit-keyframes appear {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    75% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes appear {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    75% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes title-appear {
    from {
        opacity: 0;
        -webkit-transform: translateX(150px);
        transform: translateX(150px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes title-appear {
    from {
        opacity: 0;
        -webkit-transform: translateX(150px);
        transform: translateX(150px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
/* login-window */

#login-window {
    position: relative;
    background-color: #ededed;
    height: 200px;
    width: 100%;
    color: #fff;
    text-align: center;
    display: none;
}

#login-window .login-content {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding-top: 30px;
}

#login-window .login-content form {
    margin: 0 auto;
}

#login-window .login-content form > a {
    float: left;
    margin: 3px 0px 3px 0px;
}

#login-window .login-content .form-signin {
    padding: 10px;
}

#login-window .login-content .form-signin input:nth-child(2) {
    margin-bottom: 10px;
}

#id-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#password-input {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
/* main-content */

#device-login-window-btn {
    margin: 0 auto;
    float: left;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}

ul.secondary-menu li > a {
    padding: 0;
    height: 32px;
    background-color: #ededed;
    line-height: 32px;
}

ul.secondary-menu li > a:hover {
    background-color: #777;
    color: #fff;
}

.nav-stacked >li + li {
    margin-top: 0px;
}

.resident-info .box-content button {
    float: right;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-left: 0px;
    padding: 0;
}
/* print */

#bill-print {
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #fff;
    margin-top: 0px;
    padding: 20px;
    border-radius: 15px;
}

#bill-print.on {
    visibility: visible;
    opacity: 1;
    margin-top: 30px;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.7);
    border: 1px solid #fff;
}

#bill-print {
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
}

.shade {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #686868;
    opacity: 0.7;
    display: none;
}

.shade.on {
    display: block;
}

#btn-print {
    float: right;
}

#print-template {
    display: none;
}
/* statistics */

#table-chart-select {
    margin-top: 10px;
    overflow: hidden;
    height: 37px;
}

#table-chart-select a {
    font-size: 20px;
    cursor: pointer;
    color: #777;
}

#table-chart-select .select-item {
    height: 37px;
    line-height: 37px;
}

#bill-total-statistics {
    margin-bottom: 20px;
}

.tab {
    height: 300px;
    margin-top: 10px;
    padding: 10px;
}

#table-chart-select .fa-align-justify .table-target,
#table-chart-select .fa-bar-chart .chart-target {
    position: absolute;
    width: 24px;
    top: 3px;
    left: 24px;
}

.table-target:after {
    content: '表';
    color: #777;
}

.chart-target:after {
    content: '图';
    color: #777;
}

#statistics-users-years,
#statistics-bill-years,
#statistics-monitoring-years,
#statistics-visitor-years {
    float: right;
    width: 100px;
    height: 30px;
    margin-top: 2px;
}

.chart-box {
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
    overflow: hidden;
    margin-top: 10px;
}
/* news-editor */

#news-editor,
#guide-editor {
    max-height: 250px;
    height: 250px;
    background-color: white;
    border-collapse: separate;
    border: 1px solid rgb(204, 204, 204);
    padding: 4px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
}

#guide-editor.warning:after,
#news-editor.warning:after {
    content: '请填写内容';
    color: #ff851b;
}

div[data-role="editor-toolbar"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu a {
    cursor: pointer;
}
/* community-news-details */

#community-news-details .news-header {
    padding: 10px;
}

#community-news-details .news-header .title {
    text-align: center;
    font-weight: bold;
    color: #777;
    font-size: 32px;
}

#community-news-details .news-header .info {
    color: #777;
    font-size: 15px;
}

#community-news-details .news-header i {
    cursor: pointer;
    float: right;
    color: #777;
}

#community-news-details .news-content {
    padding: 30px;
}
/* guide-details */

#guide-details {
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #fff;
    margin-top: 0px;
    padding: 20px;
    border-radius: 15px;
}

#guide-details.on {
    visibility: visible;
    opacity: 1;
    margin-top: 30px;
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.7);
    background-color: #f8f8f8;
    border: 1px solid #fff;
}

#guide-details.on {
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
}

#guide-details .guide-details-header {
    height: 50px;
    border-bottom: 1px solid #777;
}

#guide-details .guide-details-header .title {
    text-align: center;
}

#guide-details .guide-details-header i {
    cursor: pointer;
    float: right;
    color: #777;
}

#guide-details .guide-details-header h4 {
    color: #777;
}

#guide-details .guide-content {
    padding: 30px;
}
/* offline-pay */

input[rel="bill-rule"] {
    display: none;
}

input[rel="total-bill"] {
    float: left;
}

input[rel="property-fee-select"] {
    margin-top: 8px;
}

.offline-bill-month,
.offline-bill-total {
    margin-top: 8px;
    margin-bottom: 8px;
}
/* staff-comment */

.staff-unit {
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
    margin-top: 10px;
    border-radius: 10px;
}

.staff-avatar {
    border-radius: 55%;
    /*border: 5px solid #777*/
    
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
    margin: 5px 0px;
}

.staff-avatar {
    animation: jelly 1s linear 0s;
    -webkit-animation: jelly 1s linear 0s;
    -moz-animation: jelly 1s linear 0s;
    -ms-animation: jelly 1s linear 0s;
}

.staff-item {
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
    border-radius: 10px;
}

.staff-item {
    animation: jelly 1s linear 0s;
    -webkit-animation: jelly 1s linear 0s;
    -moz-animation: jelly 1s linear 0s;
    -ms-animation: jelly 1s linear 0s;
}

@media (min-width: 758px) {
    .staff-name {
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        margin: 5px 0px 5px 0px;
        color: #777;
    }
}

.staff-name {
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    margin: 15px 0px 5px 0px;
    color: #777;
}

.staff-name span {
    font-size: 18px;
    color: #777;
}

.current-month-like {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    margin: 5px 0px 5px 0px;
    color: #777;
}

.current-month-like span {
    font-size: 17px;
    color: #777;
}

.total-like {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    margin: 5px 0px 5px 0px;
    margin: 5px 0px 5px 0px;
    color: #777;
}

.total-like span {
    font-size: 17px;
    color: #777;
}

.staff-comment {
    margin: 5px 0px 5px 0px;
    height: 40px;
    line-height: 40px;
}

.staff-comment a {
    font-size: 17px;
    color: #777;
}

.wrapper-comment {
    margin-top: 10px;
}

.block-comment {
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.block-comment .username-comment {
    font-weight: bold;
    font-size: 13px;
}

.block-comment .content-comment {
    text-indent: 2em;
    font-size: 12px;
    line-height: 20px;
    padding: 5px;
}

.row.staff-row {
    margin: 0;
}
/* staff-info*/

input[name="staff-avatar"] {
    margin-top: 7px;
}
/* user-manage */

select[name="user-class"] {
    margin-bottom: 10px;
}
/* public-monitoring */

img[for="public-monitoring-img"] {
    margin: 10px 5px;
}
/* textarea-editor */

.ke-container {
    border-radius: 4px;
}
/* new login-page*/

.login-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 10%;
    background-color: #fff;
}

.login-wrapper .login-header {
    height: 50px;
}

.login-wrapper .login-block .login-divider {

    background-color: #f1f1f1;
    width: 70%;
    height: 1px;
    margin: 0 auto;
}

.login-wrapper .login-block {
    position: relative;
    width: 100%;
    height: 550px;
    padding-top: 100px;
}

.login-wrapper .login-block .login-bg {
    width: 100%;
    height: 550px;
    background-image: url(../img/laptop.png);
    background-position: center -70px;
    background-repeat: no-repeat;
    background-size: 512px 512px;

}

.login-wrapper .login-block .login-form {
    padding: 30px 0;
    overflow: hidden;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #2196f3;
}

.login-wrapper .login-block .login-form .login-title {
    font-size: 20px;
    color: #666666;
}

.login-wrapper .login-block .login-form .alert {
    margin-bottom: 0;
    margin-top: 10px;
    display: none;
}

.login-wrapper .login-block .login-form .alert.on {
    display: block;
}

footer {
    position: relative;
    margin-top: 40px;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 768px) {
    footer {
        position: relative;
        margin-top: 0;
        bottom: 20px;
        text-align: center;
        width: 100%;
    }
}

/* login-page */

.login-background-wrapper {
    z-index: 1;
    position: relative;
}

#login-shade {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(165, 165, 165, 0.4);
}
/*.login-wrapper {
     width: 100%;
     height: 100%;
     z-index: 3;
     position: relative;
     background-color: rgba(165, 165, 165, 0.4);
 }*/

.login-wrapper .form-wrapper {
    height: 500px;
    margin-top: 100px;
}

.login-wrapper .form-wrapper .login-form {
    overflow: hidden;
    background-color: rgba(248, 248, 248, 0.9);
    border-radius: 15px;
    animation: jelly 1s linear;
    -webkit-animation: jelly 1s linear;
    -moz-animation: jelly 1s linear;
    -ms-animation: jelly 1s linear;
}

.login-form form {
    overflow: hidden;
}

.logo {
    text-align: center;
}

.logo > h2 {
    color: #777;
}

#login-footer {
    color: #777;
    height: 30px;
    line-height: 30px;
    margin-top: 30px;
    text-align: center;
    /*text-shadow: 2px 0px 4px #777;*/
}
/* overlay */

#overlay {
    height: 200%;
    background-color: #f8f8f8;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    padding-top: 300px;
    display: block;
}

#overlay .overlay-title {
    height: 60px;
    line-height: 60px;
    font-size: 28px;
    text-align: center;
    animation: jelly-title 1s linear;
    -webkit-animation: jelly-title 1s linear;
    -moz-animation: jelly-title 1s linear;
    -ms-animation: jelly-title 1s linear;
}

@media screen and (min-width: 768px) {
    #overlay .overlay-title {
        height: 60px;
        line-height: 60px;
        font-size: 32px;
        text-align: center;
        animation: jelly 1s linear;
        -webkit-animation: jelly 1s linear;
        -moz-animation: jelly 1s linear;
        -ms-animation: jelly 1s linear;
    }
}

#overlay .overlay-title ~ span {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

#overlay .progress-bar {
    width: 0%;
}

#overlay .progress-bar.on {
    width: 100%;
    transition: width 1s linear 0.5s;
    -webkit-transition: width 1s linear 0.5s;
    -moz-transition: width 1s linear 0.5s;
    -o-transition: width 1s linear 0.5s;
}

#overlay.on {
    opacity: 0;
    transition: all 1s linear 1.5s;
    -webkit-transition: all 1s linear 1.5s;
    -moz-transition: all 1s linear 1.5s;
    -o-transition: all 1s linear 1.5s;
}
/* error-page */

.error-page {
    text-align: center;
}

.error-wrapper {
    width: 100%;
    position: relative;
    background-color:
}
/* push-img */

.push-msg-wrapper {
    display: none;
    width: 150px;
    position: fixed;
    bottom: 50px;
    right: 15px;
    border-radius: 15px;
    background-color: #2196f3;
    padding: 15px 0px;
    animation: jelly 1s ease 0.1s;
    -webkit-animation: jelly 1s ease 0.1s;
    -moz-animation: jelly 1s ease 0.1s;
    -ms-animation: jelly 1s ease 0.1s;
}

.push-msg-wrapper.on {
    display: block;
}

.push-msg {
    margin-top: auto;
    width: 150px;
    text-align: center;
    color: #777;
    background-color: #fff;
}

.push-msg ul {
    margin: 0;
}
/* user-limit-menu */

.sidebar.limit {
    margin: 5px 5px 25px 0px;
}
/* operation-config */

.operation-config {
    display: none;
}

.operation-config.on {
    display: block;
}

.change-appointment-time {
    display: none;
}

.change-appointment-time.on {
    display: block;
}

#change-appointment-time-submit {
    display: none;
}

#change-appointment-time-submit.on {
    display: inline-block;
}
/* bootstrap v3 dialog */

.bootstrap-dialog-title {
    font-size: 24px;
}

.bootstrap-dialog-message {
    font-size: 14px;
    padding-left: 15px;
}
/* 聊天框 */

.comment {
    color: #ecf0f1;
    font-size: 1.3em;
    width: 100%;
    overflow: hidden;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
}

.comment-reply {
    margin-top: 20px;
    color: #ecf0f1;
    font-size: 1.3em;
    width: 80%;
    min-height: 50px;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
}

.comment-reply-content {
    line-height: 50px;
    font-size: 16px;
    color: #666666;
    float: left;
    min-width: 80%;
}

.comment-reply-submit {
    line-height: 50px;
    text-align: center;
    font-size: 13px;
    float: left;
    width: 20%;
    padding: 0;
}

.feedback_img {
    color: #ecf0f1;
    font-size: 1.3em;
    width: 100%;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
    margin-bottom: 20px;
}

.feedback_img .links {
    width: 80%;
}

.comment .status-bar {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
    text-align: right;
}

.comment .heading .convn-info {
    text-align: left;
    font-size: 2em;
    color: #666666;
}

.feedback_img .heading .convn-info {
    text-align: left;
    font-size: 2em;
    color: #666666;
}

.comment .own {
    background: #ecf0f1;
    color: #666666;
    float: left;
    padding: 0.5em;
    text-align: left;
    -moz-border-radius: 0 1em 1em 0;
    -webkit-border-radius: 0;
    border-radius: 0 1em 1em 0;
    font-size: 16px;
}

.comment .other {
    background: #d7d7d7;
    color: #666666;
    float: left;
    padding: 0.5em;
    -moz-border-radius: 0 1em 1em 0;
    -webkit-border-radius: 0;
    border-radius: 0 1em 1em 0;
    font-size: 16px;
}

.comment .own,
.comment .other {
    clear: both;
    margin: 0.2em 0;
    min-width: 80%;
}

.comment .own .message-time {
    color: #666666;
    float: right;
    font-size: 0.7em;
    opacity: 1;
    position: relative;
    margin: -2.5em -4.1em;
}

.comment .other .message-time {
    color: #666666;
    float: right;
    font-size: 0.7em;
    opacity: 1;
    position: relative;
    margin: -2.5em -4.1em;
}

.comment div:last-child {
    margin-bottom: 0;
}

.comment::selection {
    background: #34495e;
}

.comment::moz-selection {
    background: #34495e;
}
/* toolbar */

.toolbar-wrapper {
    width: 100%;
    overflow: hidden;
    display: none;
}

.toolbar-search {
    padding: 0 30px;
    position: relative;
    overflow: hidden;
}

.toolbar-search-item label {
    padding: 0;
    line-height: 37px;
    font-size: 16px;
}

.toolbar-search-item > div {
    padding: 0;
}

.toolbar-search-item i.fa {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 15px;
}

.toolbar-search button {
    float: left;
}

.toolbar-search select {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

.toolbar-search input {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

@media screen and (min-width: 768px) {
    .toolbar-search select {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
    }

    .toolbar-search input {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

.toolbar-search .toolbar-search-btn,
.toolbar-search .toolbar-search-btn-cancel,
.toolbar-search .toolbar-search-btn-add {
    display: none;
    margin-left: 15px;
}

.toolbar-search .toolbar-search-btn.on,
.toolbar-search .toolbar-search-btn-cancel.on,
.toolbar-search .toolbar-search-btn-add.on {
    display: block;
}

.toolbar-date {
    padding-top: 15px;
    position: relative;
    overflow: hidden;
}

.toolbar-date label {
    font-size: 16px;
}

.toolbar-date button {
    margin-top: 0px;
    margin-left: 15px;
    display: block;
    float: left;
}

.toolbar-date .toolbar-date-title {
    font-size: 16px;
    line-height: 30px;
}

.toolbar-date .toolbar-date-btn {
    position: relative;
    overflow: hidden;
    display: none;
}

.toolbar-date .toolbar-date-btn.on {
    display: block;
}

@media screen and (min-width: 768px) {
    .toolbar-date button {
        margin-top: 30px;
        margin-left: 15px;
        display: block;
        float: left;
    }
    .toolbar-date .toolbar-date-btn {
        position: relative;
        overflow: hidden;
        display: none;
    }
    .toolbar-date .toolbar-date-btn.on {
        display: block;
    }
}

.toolbar-status, .toolbar-type {
    padding-top: 15px;
    overflow: hidden;
}

.toolbar-status li, .toolbar-type li {
    float: left;
    font-size: 16px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, .58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, .58, 1);
    -ms-transition: all 300ms cubic-bezier(0.42, 0, .58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, .58, 1);
}

.toolbar-status .toolbar-status-item, .toolbar-type .toolbar-type-item {
    margin: 0px 5px;
}

.toolbar-status li.active, .toolbar-type li.active {
    background-color: #666666;
    color: #fff;
}

.toolbar-status li:hover, .toolbar-type li:hover {
    background-color: #666666;
    color: #fff;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, .58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, .58, 1);
    -ms-transition: all 300ms cubic-bezier(0.42, 0, .58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, .58, 1);
}
/* buttonGroup */

.buttonGroup {
    position: relative;
    width: 100%;
}

.buttonGroup > a,
.buttonGroup > button {
    margin: 0px 5px;
}
/* processing */

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    /*width: 100%;*/
    /*height: 40px;*/
    
    margin-left: -15px;
    margin-top: -15px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    border-color: transparent #2196f3 transparent #2196f3;
    border-style: solid;
    border-width: 5px;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-animation: reverse-rotation 1s linear infinite;
    -webkit-animation: reverse-rotation 1s linear infinite;
    animation: reverse-rotation 1s linear infinite;
}

.form-group label {
    font-size: 16px;
    color: #444444;
}
/* modal */

.modal-footer {
    border-top: 0px;
}

.repairGallery {
    text-align: center;
    height: 150px;
    overflow-y: auto;
}

.repairGallery::-webkit-scrollbar {
    width: 12px;
}

.repairGallery::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
/* 滚动条滑块 */

.repairGallery::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.repairGallery::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}

.repairGallery a {
    display: inline-block;
}