li { list-style-type: none; }
a { text-decoration: none !important; color: #777; }

.clear { clear: both; }
.clear-10 { clear: both; height: 10px; }
.clear-20 { clear: both; height: 20px; }
.clear-40 { clear: both; height: 40px; }
.clear-80 { clear: both; height: 80px; } 

.float-right { float: right; }
.float-left { float: left; }
.display-block { display: block; }
.position-relative { position: relative; }
.z-index { z-index: 0; }
.z-index-1 { z-index: 1; }
.text-decoration { text-decoration: line-through; }
.cursor { cursor: pointer;}
.display-none { display: none; }
.overflow-hidden { overflow: hidden; }
.text-indent { text-indent: 2em; }
table i { width:12px; height: 12px; }

.padding-5 { padding: 5px; }
.padding-left-30 { padding-left: 30px; }
.padding-top-15 { padding-top: 15px; }
.margin-left-15 { margin-left: 15px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-20 { margin-top: 20px; }
.margin-bottom-15 {margin-bottom: 15px; }

.btn-primary {
  background-color: #2196f3;
  border-color: #2196f3;
}
.btn-success {
  background-color: #4caf50;
  border-color: #4caf50;
}
.btn-danger {
  background-color: #e51c23;
  border-color: #e51c23;
}

.label-default {
  background-color: #bbbbbb;
}

.label-primary {
  background-color: #2196f3;
}
.label-success {
  background-color: #4caf50;
}
.label-warning {
  background-color: #ff9800;
}
.label-danger {
  background-color: #e51c23;
}
.label-info {
  background-color: #9c27b0;
}

textarea {
  padding: 12px 10px;
}

.load-animation {
   position: absolute;
   top: 50%;
   left: 50%; 
   width: 30px;
   height: 30px;
   z-index: 6; 
   background-image: url(../../assets/img/app_icon.png);
   background-size: 30px 30px;
   background-position: center top;
   background-repeat: no-repeat;
   display: none;
   -webkit-animation: load-rotate 1s linear 0s infinite;
   -ms-animation: load-rotate 1s linear 0s infinite;
   -moz-animation: load-rotate 1s linear 0s infinite;
   animation: load-rotate 1s linear 0s infinite;
}

@keyframes load-rotate 
{
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes load-rotate 
{
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }

}

@-moz-keyframes load-rotate 
{
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }

}

@-ms-keyframes load-rotate 
{
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}


@keyframes jelly { 
  0% { transform: scale(0.5000, 0.5000); }
  1% { transform: scale(0.5278, 0.5320); }
  2% { transform: scale(0.5605, 0.5764); }
  3% { transform: scale(0.5971, 0.6306); }
  4% { transform: scale(0.6367, 0.6917); }
  5% { transform: scale(0.6783, 0.7572); }
  6% { transform: scale(0.7211, 0.8245); }
  7% { transform: scale(0.7642, 0.8911); }
  8% { transform: scale(0.8071, 0.9550); }
  9% { transform: scale(0.8489, 1.014); }
  10% { transform: scale(0.8892, 1.067); }
  11% { transform: scale(0.9274, 1.113); }
  12% { transform: scale(0.9632, 1.151); }
  13% { transform: scale(0.9961, 1.180); }
  14% { transform: scale(1.026, 1.201); }
  15% { transform: scale(1.053, 1.213); }
  16% { transform: scale(1.076, 1.217); }
  17% { transform: scale(1.112, 1.202); }
  18% { transform: scale(1.125, 1.186); }
  19% { transform: scale(1.135, 1.166); }
  20% { transform: scale(1.142, 1.142); }
  21% { transform: scale(1.145, 1.115); }
  22% { transform: scale(1.146, 1.087); }
  23% { transform: scale(1.145, 1.059); }
  24% { transform: scale(1.142, 1.032); }
  25% { transform: scale(1.136, 1.006); }
  26% { transform: scale(1.129, 0.9826); }
  27% { transform: scale(1.121, 0.9619); }
  28% { transform: scale(1.111, 0.9444); }
  29% { transform: scale(1.101, 0.9304); }
  30% { transform: scale(1.089, 0.9201); }
  31% { transform: scale(1.078, 0.9133); }
  32% { transform: scale(1.066, 0.9101); }
  33% { transform: scale(1.055, 0.9101); }
  34% { transform: scale(1.032, 0.9187); }
  35% { transform: scale(1.022, 0.9264); }
  36% { transform: scale(1.012, 0.9358); }
  37% { transform: scale(1.003, 0.9464); }
  38% { transform: scale(0.9949, 0.9578); }
  39% { transform: scale(0.9876, 0.9695); }
  40% { transform: scale(0.9811, 0.9811); }
  41% { transform: scale(0.9755, 0.9922); }
  42% { transform: scale(0.9709, 1.002); }
  43% { transform: scale(0.9671, 1.012); }
  44% { transform: scale(0.9643, 1.020); }
  45% { transform: scale(0.9623, 1.026); }
  46% { transform: scale(0.9611, 1.031); }
  47% { transform: scale(0.9606, 1.035); }
  48% { transform: scale(0.9608, 1.037); }
  49% { transform: scale(0.9616, 1.038); }
  50% { transform: scale(0.9647, 1.035); }
  51% { transform: scale(0.9669, 1.032); }
  52% { transform: scale(0.9695, 1.029); }
  53% { transform: scale(0.9722, 1.025); }
  54% { transform: scale(0.9752, 1.020); }
  55% { transform: scale(0.9782, 1.015); }
  56% { transform: scale(0.9814, 1.010); }
  57% { transform: scale(0.9845, 1.006); }
  58% { transform: scale(0.9876, 1.001); }
  59% { transform: scale(0.9905, 0.9970); }
  60% { transform: scale(0.9934, 0.9934); }
  61% { transform: scale(0.9961, 0.9903); }
  62% { transform: scale(0.9986, 0.9879); }
  63% { transform: scale(1.001, 0.9861); }
  64% { transform: scale(1.003, 0.9849); }
  65% { transform: scale(1.005, 0.9844); }
  66% { transform: scale(1.006, 0.9844); }
  67% { transform: scale(1.009, 0.9859); }
  68% { transform: scale(1.009, 0.9872); }
  69% { transform: scale(1.010, 0.9888); }
  70% { transform: scale(1.010, 0.9907); }
  71% { transform: scale(1.011, 0.9927); }
  72% { transform: scale(1.011, 0.9947); }
  73% { transform: scale(1.010, 0.9967); }
  74% { transform: scale(1.010, 0.9986); }
  75% { transform: scale(1.010, 1.000); }
  76% { transform: scale(1.009, 1.002); }
  77% { transform: scale(1.008, 1.003); }
  78% { transform: scale(1.008, 1.005); }
  79% { transform: scale(1.007, 1.005); }
  80% { transform: scale(1.006, 1.006); }
  81% { transform: scale(1.005, 1.006); }
  82% { transform: scale(1.004, 1.007); }
  83% { transform: scale(1.004, 1.006); }
  84% { transform: scale(1.002, 1.006); }
  85% { transform: scale(1.001, 1.005); }
  86% { transform: scale(1.001, 1.004); }
  87% { transform: scale(0.9999, 1.003); }
  88% { transform: scale(0.9994, 1.003); }
  89% { transform: scale(0.9989, 1.002); }
  90% { transform: scale(0.9984, 1.001); }
  91% { transform: scale(0.9981, 1.000); }
  92% { transform: scale(0.9977, 0.9995); }
  93% { transform: scale(0.9975, 0.9988); }
  94% { transform: scale(0.9973, 0.9983); }
  95% { transform: scale(0.9972, 0.9979); }
  96% { transform: scale(0.9972, 0.9976); }
  97% { transform: scale(0.9971, 0.9974); }
  98% { transform: scale(0.9972, 0.9973); }
  99% { transform: scale(0.9973, 0.9973); }
  100% { transform: scale(1); } 
} 

@-webkit-keyframes jelly { 
  0% { transform: scale(0.5000, 0.5000); }
  1% { transform: scale(0.5278, 0.5320); }
  2% { transform: scale(0.5605, 0.5764); }
  3% { transform: scale(0.5971, 0.6306); }
  4% { transform: scale(0.6367, 0.6917); }
  5% { transform: scale(0.6783, 0.7572); }
  6% { transform: scale(0.7211, 0.8245); }
  7% { transform: scale(0.7642, 0.8911); }
  8% { transform: scale(0.8071, 0.9550); }
  9% { transform: scale(0.8489, 1.014); }
  10% { transform: scale(0.8892, 1.067); }
  11% { transform: scale(0.9274, 1.113); }
  12% { transform: scale(0.9632, 1.151); }
  13% { transform: scale(0.9961, 1.180); }
  14% { transform: scale(1.026, 1.201); }
  15% { transform: scale(1.053, 1.213); }
  16% { transform: scale(1.076, 1.217); }
  17% { transform: scale(1.112, 1.202); }
  18% { transform: scale(1.125, 1.186); }
  19% { transform: scale(1.135, 1.166); }
  20% { transform: scale(1.142, 1.142); }
  21% { transform: scale(1.145, 1.115); }
  22% { transform: scale(1.146, 1.087); }
  23% { transform: scale(1.145, 1.059); }
  24% { transform: scale(1.142, 1.032); }
  25% { transform: scale(1.136, 1.006); }
  26% { transform: scale(1.129, 0.9826); }
  27% { transform: scale(1.121, 0.9619); }
  28% { transform: scale(1.111, 0.9444); }
  29% { transform: scale(1.101, 0.9304); }
  30% { transform: scale(1.089, 0.9201); }
  31% { transform: scale(1.078, 0.9133); }
  32% { transform: scale(1.066, 0.9101); }
  33% { transform: scale(1.055, 0.9101); }
  34% { transform: scale(1.032, 0.9187); }
  35% { transform: scale(1.022, 0.9264); }
  36% { transform: scale(1.012, 0.9358); }
  37% { transform: scale(1.003, 0.9464); }
  38% { transform: scale(0.9949, 0.9578); }
  39% { transform: scale(0.9876, 0.9695); }
  40% { transform: scale(0.9811, 0.9811); }
  41% { transform: scale(0.9755, 0.9922); }
  42% { transform: scale(0.9709, 1.002); }
  43% { transform: scale(0.9671, 1.012); }
  44% { transform: scale(0.9643, 1.020); }
  45% { transform: scale(0.9623, 1.026); }
  46% { transform: scale(0.9611, 1.031); }
  47% { transform: scale(0.9606, 1.035); }
  48% { transform: scale(0.9608, 1.037); }
  49% { transform: scale(0.9616, 1.038); }
  50% { transform: scale(0.9647, 1.035); }
  51% { transform: scale(0.9669, 1.032); }
  52% { transform: scale(0.9695, 1.029); }
  53% { transform: scale(0.9722, 1.025); }
  54% { transform: scale(0.9752, 1.020); }
  55% { transform: scale(0.9782, 1.015); }
  56% { transform: scale(0.9814, 1.010); }
  57% { transform: scale(0.9845, 1.006); }
  58% { transform: scale(0.9876, 1.001); }
  59% { transform: scale(0.9905, 0.9970); }
  60% { transform: scale(0.9934, 0.9934); }
  61% { transform: scale(0.9961, 0.9903); }
  62% { transform: scale(0.9986, 0.9879); }
  63% { transform: scale(1.001, 0.9861); }
  64% { transform: scale(1.003, 0.9849); }
  65% { transform: scale(1.005, 0.9844); }
  66% { transform: scale(1.006, 0.9844); }
  67% { transform: scale(1.009, 0.9859); }
  68% { transform: scale(1.009, 0.9872); }
  69% { transform: scale(1.010, 0.9888); }
  70% { transform: scale(1.010, 0.9907); }
  71% { transform: scale(1.011, 0.9927); }
  72% { transform: scale(1.011, 0.9947); }
  73% { transform: scale(1.010, 0.9967); }
  74% { transform: scale(1.010, 0.9986); }
  75% { transform: scale(1.010, 1.000); }
  76% { transform: scale(1.009, 1.002); }
  77% { transform: scale(1.008, 1.003); }
  78% { transform: scale(1.008, 1.005); }
  79% { transform: scale(1.007, 1.005); }
  80% { transform: scale(1.006, 1.006); }
  81% { transform: scale(1.005, 1.006); }
  82% { transform: scale(1.004, 1.007); }
  83% { transform: scale(1.004, 1.006); }
  84% { transform: scale(1.002, 1.006); }
  85% { transform: scale(1.001, 1.005); }
  86% { transform: scale(1.001, 1.004); }
  87% { transform: scale(0.9999, 1.003); }
  88% { transform: scale(0.9994, 1.003); }
  89% { transform: scale(0.9989, 1.002); }
  90% { transform: scale(0.9984, 1.001); }
  91% { transform: scale(0.9981, 1.000); }
  92% { transform: scale(0.9977, 0.9995); }
  93% { transform: scale(0.9975, 0.9988); }
  94% { transform: scale(0.9973, 0.9983); }
  95% { transform: scale(0.9972, 0.9979); }
  96% { transform: scale(0.9972, 0.9976); }
  97% { transform: scale(0.9971, 0.9974); }
  98% { transform: scale(0.9972, 0.9973); }
  99% { transform: scale(0.9973, 0.9973); }
  100% { transform: scale(1); } 
} 


@-moz-keyframes jelly { 
  0% { transform: scale(0.5000, 0.5000); }
  1% { transform: scale(0.5278, 0.5320); }
  2% { transform: scale(0.5605, 0.5764); }
  3% { transform: scale(0.5971, 0.6306); }
  4% { transform: scale(0.6367, 0.6917); }
  5% { transform: scale(0.6783, 0.7572); }
  6% { transform: scale(0.7211, 0.8245); }
  7% { transform: scale(0.7642, 0.8911); }
  8% { transform: scale(0.8071, 0.9550); }
  9% { transform: scale(0.8489, 1.014); }
  10% { transform: scale(0.8892, 1.067); }
  11% { transform: scale(0.9274, 1.113); }
  12% { transform: scale(0.9632, 1.151); }
  13% { transform: scale(0.9961, 1.180); }
  14% { transform: scale(1.026, 1.201); }
  15% { transform: scale(1.053, 1.213); }
  16% { transform: scale(1.076, 1.217); }
  17% { transform: scale(1.112, 1.202); }
  18% { transform: scale(1.125, 1.186); }
  19% { transform: scale(1.135, 1.166); }
  20% { transform: scale(1.142, 1.142); }
  21% { transform: scale(1.145, 1.115); }
  22% { transform: scale(1.146, 1.087); }
  23% { transform: scale(1.145, 1.059); }
  24% { transform: scale(1.142, 1.032); }
  25% { transform: scale(1.136, 1.006); }
  26% { transform: scale(1.129, 0.9826); }
  27% { transform: scale(1.121, 0.9619); }
  28% { transform: scale(1.111, 0.9444); }
  29% { transform: scale(1.101, 0.9304); }
  30% { transform: scale(1.089, 0.9201); }
  31% { transform: scale(1.078, 0.9133); }
  32% { transform: scale(1.066, 0.9101); }
  33% { transform: scale(1.055, 0.9101); }
  34% { transform: scale(1.032, 0.9187); }
  35% { transform: scale(1.022, 0.9264); }
  36% { transform: scale(1.012, 0.9358); }
  37% { transform: scale(1.003, 0.9464); }
  38% { transform: scale(0.9949, 0.9578); }
  39% { transform: scale(0.9876, 0.9695); }
  40% { transform: scale(0.9811, 0.9811); }
  41% { transform: scale(0.9755, 0.9922); }
  42% { transform: scale(0.9709, 1.002); }
  43% { transform: scale(0.9671, 1.012); }
  44% { transform: scale(0.9643, 1.020); }
  45% { transform: scale(0.9623, 1.026); }
  46% { transform: scale(0.9611, 1.031); }
  47% { transform: scale(0.9606, 1.035); }
  48% { transform: scale(0.9608, 1.037); }
  49% { transform: scale(0.9616, 1.038); }
  50% { transform: scale(0.9647, 1.035); }
  51% { transform: scale(0.9669, 1.032); }
  52% { transform: scale(0.9695, 1.029); }
  53% { transform: scale(0.9722, 1.025); }
  54% { transform: scale(0.9752, 1.020); }
  55% { transform: scale(0.9782, 1.015); }
  56% { transform: scale(0.9814, 1.010); }
  57% { transform: scale(0.9845, 1.006); }
  58% { transform: scale(0.9876, 1.001); }
  59% { transform: scale(0.9905, 0.9970); }
  60% { transform: scale(0.9934, 0.9934); }
  61% { transform: scale(0.9961, 0.9903); }
  62% { transform: scale(0.9986, 0.9879); }
  63% { transform: scale(1.001, 0.9861); }
  64% { transform: scale(1.003, 0.9849); }
  65% { transform: scale(1.005, 0.9844); }
  66% { transform: scale(1.006, 0.9844); }
  67% { transform: scale(1.009, 0.9859); }
  68% { transform: scale(1.009, 0.9872); }
  69% { transform: scale(1.010, 0.9888); }
  70% { transform: scale(1.010, 0.9907); }
  71% { transform: scale(1.011, 0.9927); }
  72% { transform: scale(1.011, 0.9947); }
  73% { transform: scale(1.010, 0.9967); }
  74% { transform: scale(1.010, 0.9986); }
  75% { transform: scale(1.010, 1.000); }
  76% { transform: scale(1.009, 1.002); }
  77% { transform: scale(1.008, 1.003); }
  78% { transform: scale(1.008, 1.005); }
  79% { transform: scale(1.007, 1.005); }
  80% { transform: scale(1.006, 1.006); }
  81% { transform: scale(1.005, 1.006); }
  82% { transform: scale(1.004, 1.007); }
  83% { transform: scale(1.004, 1.006); }
  84% { transform: scale(1.002, 1.006); }
  85% { transform: scale(1.001, 1.005); }
  86% { transform: scale(1.001, 1.004); }
  87% { transform: scale(0.9999, 1.003); }
  88% { transform: scale(0.9994, 1.003); }
  89% { transform: scale(0.9989, 1.002); }
  90% { transform: scale(0.9984, 1.001); }
  91% { transform: scale(0.9981, 1.000); }
  92% { transform: scale(0.9977, 0.9995); }
  93% { transform: scale(0.9975, 0.9988); }
  94% { transform: scale(0.9973, 0.9983); }
  95% { transform: scale(0.9972, 0.9979); }
  96% { transform: scale(0.9972, 0.9976); }
  97% { transform: scale(0.9971, 0.9974); }
  98% { transform: scale(0.9972, 0.9973); }
  99% { transform: scale(0.9973, 0.9973); }
  100% { transform: scale(1); } 
} 


@-ms-keyframes jelly { 
  0% { transform: scale(0.5000, 0.5000); }
  1% { transform: scale(0.5278, 0.5320); }
  2% { transform: scale(0.5605, 0.5764); }
  3% { transform: scale(0.5971, 0.6306); }
  4% { transform: scale(0.6367, 0.6917); }
  5% { transform: scale(0.6783, 0.7572); }
  6% { transform: scale(0.7211, 0.8245); }
  7% { transform: scale(0.7642, 0.8911); }
  8% { transform: scale(0.8071, 0.9550); }
  9% { transform: scale(0.8489, 1.014); }
  10% { transform: scale(0.8892, 1.067); }
  11% { transform: scale(0.9274, 1.113); }
  12% { transform: scale(0.9632, 1.151); }
  13% { transform: scale(0.9961, 1.180); }
  14% { transform: scale(1.026, 1.201); }
  15% { transform: scale(1.053, 1.213); }
  16% { transform: scale(1.076, 1.217); }
  17% { transform: scale(1.112, 1.202); }
  18% { transform: scale(1.125, 1.186); }
  19% { transform: scale(1.135, 1.166); }
  20% { transform: scale(1.142, 1.142); }
  21% { transform: scale(1.145, 1.115); }
  22% { transform: scale(1.146, 1.087); }
  23% { transform: scale(1.145, 1.059); }
  24% { transform: scale(1.142, 1.032); }
  25% { transform: scale(1.136, 1.006); }
  26% { transform: scale(1.129, 0.9826); }
  27% { transform: scale(1.121, 0.9619); }
  28% { transform: scale(1.111, 0.9444); }
  29% { transform: scale(1.101, 0.9304); }
  30% { transform: scale(1.089, 0.9201); }
  31% { transform: scale(1.078, 0.9133); }
  32% { transform: scale(1.066, 0.9101); }
  33% { transform: scale(1.055, 0.9101); }
  34% { transform: scale(1.032, 0.9187); }
  35% { transform: scale(1.022, 0.9264); }
  36% { transform: scale(1.012, 0.9358); }
  37% { transform: scale(1.003, 0.9464); }
  38% { transform: scale(0.9949, 0.9578); }
  39% { transform: scale(0.9876, 0.9695); }
  40% { transform: scale(0.9811, 0.9811); }
  41% { transform: scale(0.9755, 0.9922); }
  42% { transform: scale(0.9709, 1.002); }
  43% { transform: scale(0.9671, 1.012); }
  44% { transform: scale(0.9643, 1.020); }
  45% { transform: scale(0.9623, 1.026); }
  46% { transform: scale(0.9611, 1.031); }
  47% { transform: scale(0.9606, 1.035); }
  48% { transform: scale(0.9608, 1.037); }
  49% { transform: scale(0.9616, 1.038); }
  50% { transform: scale(0.9647, 1.035); }
  51% { transform: scale(0.9669, 1.032); }
  52% { transform: scale(0.9695, 1.029); }
  53% { transform: scale(0.9722, 1.025); }
  54% { transform: scale(0.9752, 1.020); }
  55% { transform: scale(0.9782, 1.015); }
  56% { transform: scale(0.9814, 1.010); }
  57% { transform: scale(0.9845, 1.006); }
  58% { transform: scale(0.9876, 1.001); }
  59% { transform: scale(0.9905, 0.9970); }
  60% { transform: scale(0.9934, 0.9934); }
  61% { transform: scale(0.9961, 0.9903); }
  62% { transform: scale(0.9986, 0.9879); }
  63% { transform: scale(1.001, 0.9861); }
  64% { transform: scale(1.003, 0.9849); }
  65% { transform: scale(1.005, 0.9844); }
  66% { transform: scale(1.006, 0.9844); }
  67% { transform: scale(1.009, 0.9859); }
  68% { transform: scale(1.009, 0.9872); }
  69% { transform: scale(1.010, 0.9888); }
  70% { transform: scale(1.010, 0.9907); }
  71% { transform: scale(1.011, 0.9927); }
  72% { transform: scale(1.011, 0.9947); }
  73% { transform: scale(1.010, 0.9967); }
  74% { transform: scale(1.010, 0.9986); }
  75% { transform: scale(1.010, 1.000); }
  76% { transform: scale(1.009, 1.002); }
  77% { transform: scale(1.008, 1.003); }
  78% { transform: scale(1.008, 1.005); }
  79% { transform: scale(1.007, 1.005); }
  80% { transform: scale(1.006, 1.006); }
  81% { transform: scale(1.005, 1.006); }
  82% { transform: scale(1.004, 1.007); }
  83% { transform: scale(1.004, 1.006); }
  84% { transform: scale(1.002, 1.006); }
  85% { transform: scale(1.001, 1.005); }
  86% { transform: scale(1.001, 1.004); }
  87% { transform: scale(0.9999, 1.003); }
  88% { transform: scale(0.9994, 1.003); }
  89% { transform: scale(0.9989, 1.002); }
  90% { transform: scale(0.9984, 1.001); }
  91% { transform: scale(0.9981, 1.000); }
  92% { transform: scale(0.9977, 0.9995); }
  93% { transform: scale(0.9975, 0.9988); }
  94% { transform: scale(0.9973, 0.9983); }
  95% { transform: scale(0.9972, 0.9979); }
  96% { transform: scale(0.9972, 0.9976); }
  97% { transform: scale(0.9971, 0.9974); }
  98% { transform: scale(0.9972, 0.9973); }
  99% { transform: scale(0.9973, 0.9973); }
  100% { transform: scale(1); } 
} 


@-webkit-keyframes reverse-rotation {
  0% {
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}
@-moz-keyframes reverse-rotation {
  0% {
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}

@-ms-keyframes reverse-rotation {
  0% {
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}
@keyframes reverse-rotation {
  0% {
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}
